.input__boxes.grid.first__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 3rem;
    margin-bottom: 3rem;
}
.input__boxes.grid.second__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.input__chev__down {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}
.information__input {
    padding: 3.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--line-color);
    width: 100%;
    font-family: "poppins", sans-serif;
    color: var(--black-color);
    height: 100%;
}
.btn__primary {
    display: flex;
    align-items: center;
    border: none;
    padding: 2rem 3rem;
    border-radius: 1rem;
    gap: 1rem;
    background-color: var(--green-color-2);
    font-family: "poppins", sans-serif;
    font-weight: 500;
    color: var(--black-color);
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
