.input__boxes {
    margin-top: 2rem;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.information__input {
    padding: 3.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--line-color);
    width: 100%;
    font-family: "poppins", sans-serif;
    color: var(--black-color);
    height: 100%;
}
